@import "./../../styles/reset.css";

.designer-square
{
    width: 282px;
    height: 386px;
    background-color: #2C3878;
    display: flex;
}
.designer-info-square
{
    width: 258px;
    height: 96px;
    background-color: #FFF;
    z-index: 10;
    position: absolute;
    margin: 278px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
}
.designer-name
{
    color: #333333;
    font-size: 24px;
    font-weight: 600;
}
.designer-position
{
    color: #9C9C9C;
    font-size: 16px;
    font-weight: 400;
}