@import "./../../styles/reset.css";

/* Materials-block */
.materials-block
{
    margin-top: 163px;
}
.materials-block-content
{
    display: flex;
    justify-content: space-between;
}
.materials-block-text
{
    margin-top: 10px;
    margin-bottom: 37px;
}
.materials-image-block
{
    display: flex;
    gap: 40px;
}
.images-row-left
{
    margin-top: 52px;
}
.images-row-right
{
    margin-top: -47px;
}
.materials-image-2
{
    margin-bottom: 40px;
}
.materials-block-text
{
    color: #9C9C9C;
    max-width: 497px;
    font-size: 18px;
    font-weight: 400;
}
.materials-block-button
{
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    padding: 14px 32px;
    border: 1px solid var(--grayscale-30, #3C3C3C);
    transition: transform .2s;
}
.materials-block-button:hover
{
    transform: scale(1.1);
}

@media (max-width: 1000px)
{
    .materials-block-content
    {
        flex-direction: column;
    }
    .images-row-right
    {
        margin-top: 0px;
        display: flex;
        gap: 40px;
    }
    .images-row-left
    {
        margin-top: 0px;
    }
    .materials-image-block
    {
        margin-top: 40px;
    }
    .materials-image-1
    {
        width: 200px;
        height: 200px;
    }
    .materials-image-2
    {
        width: 200px;
        height: 200px;
    }
    .materials-image-3
    {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 730px)
{
    .materials-image-block
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
    }
    .images-row-right
    {
        flex-direction: column;
    }
    .materials-image-1
    {
        width: 350px;
        height: 350px;
    }
    .materials-image-2
    {
        width: 350px;
        height: 350px;
        margin-bottom: 0px;
    }
    .materials-image-3
    {
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 410px)
{
    .materials-image-1
    {
        width: 200px;
        height: 200px;
    }
    .materials-image-2
    {
        width: 200px;
        height: 200px;
    }
    .materials-image-3
    {
        width: 200px;
        height: 200px;
    }
}
