@import "./../../styles/reset.css";

.blue-block
{
    background-color: #2C3878;
    width: 252px;
    height: 525px;
}
.blue-block-list
{
    display: flex;
    flex-direction: column;
    row-gap: 57px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.blue-block-number
{
    color: #FFF;
    font-size: 52px;
    font-weight: 400;
    text-align: center;
}
.blue-block-text
{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 1180px)
{
    .blue-block
    {
        position: relative;
        margin-left: 0;
        margin-top: 0;
        width: 525px;
        height: 252px;
    }
    .blue-block-list
    {
        flex-direction: row;
        gap: 30px;
        margin-top: 0;
    }
    
}


